<div class="container d-flex  justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/images.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mustang</h5>
          <p class="card-text">O melhor carro para competir drift com o melhor preco.</p>
          <a href="#" class="btn btn-primary container-fluid">Compre agora!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">GTR R35</h5>
          <p class="card-text">O carro para drift.</p>
          <a href="#" class="btn btn-primary container-fluid">Compre agora!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/download (1).jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Supra</h5>
          <p class="card-text">O carro para drift.</p>
          <a href="#" class="btn btn-primary container-fluid">Compre agora!</a>
        </div>
      </div>
</div>


